/* Hero.css */

.herocontainer {
	position: relative;
	width: 100vw;
	min-height: calc(100vh - 50px);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	/* overflow-y: auto;
	overflow-x: hidden; */
	background-color: #000; /* Neutral background */
}

.section-container {
	display: flex;
	flex-direction: column;
	position: relative;
	padding: 0;
	margin: 0;
	width: 100vw;
	min-height: calc(100vh - 50px);
	height: calc(100vh - 50px);
	transition: opacity 0.5s ease; /* Match this to the JS timeout */
}
/* @keyframes slideIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes slideOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
} */

.fade-in {
	opacity: 1;
}

.fade-out {
	opacity: 0;
}

.herocontainer .navreplacement {
	display: flex;
	width: 100vw;
	height: 50px;
	bottom: 0;
	position: fixed;
	z-index: 1099;
}

.herocontainer .navreplacementmobile {
	display: none;
}

@media screen and (max-width: 960px) {
	.herocontainer {
		width: 100vw;
		height: 100vh;
		min-height: 100vh;
	}

	.section-container {
		width: 100vw;
		height: 100vh;
	}

	.herocontainer .navreplacement {
		display: none;
	}

	.herocontainer .navreplacementmobile {
		display: flex;
		width: 100vw;
		height: 100vh;
		/* bottom: 1rem;
		top: auto; */
		position: relative;
		z-index: 1099;
		justify-content: center;
		align-items: center;
		bottom: 0;
		transition: opacity 0.5s ease; /* Match this to the JS timeout */
		background: radial-gradient(
			ellipse,
			rgba(46, 46, 46, 0.6) 30%,
			#000000 100%
		);
		background-size: 150% 150%; /* Start larger to create zoom effect */
		background-position: center;
		animation: vignettePulse 9s ease-in-out infinite; /* Apply the animation */
	}

	@keyframes vignettePulse {
		0% {
			background-position: 50% 50%; /* Center */
		}
		25% {
			background-position: 60% 40%; /* Slightly offset position */
		}
		50% {
			background-position: 40% 60%; /* Offset to the other direction */
		}
		75% {
			background-position: 50% 50%; /* Back to center */
		}
		100% {
			background-position: 50% 50%; /* End at center */
		}
	}
}
