.website-parent {
	display: flex;
	position: absolute;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
}

.sites-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	max-width: 90vw;
	gap: 3rem;
}

.sitevideo {
	display: flex;
	position: relative;
	width: 25vw;
	height: auto;
}

.website-copy {
	text-align: center;
	padding-top: 2rem;
	max-width: 80vw;
}

@media (max-width: 960px) {
	.sites-container {
		display: flex;
		flex-direction: column;
		max-width: 90vw;
		gap: 2rem;
	}
	.sitevideo {
		width: 50vw;
	}

	.website-copy {
		font-size: 0.8rem;
	}
}
